:root {
  --white: #ffffff;
  --lightgray: #d6d8d7;
  --gray200: rgb(189, 189, 189);
  --gray74: rgba(186, 190, 191, 255);
  --gray400: rgba(186, 190, 191, 255);
  --ashgray: #a0a0a1;
  --yellow50: #e8ae15;
  --dimgray: #6b6b6b;
  --dimgray39: #656464;
  --dimgray42: #6b6b6b;
  --mediumdarkgray: #565656;
  --gray15: #252626;
  --darkred: #881437;
  --crimson: rgba(104, 7, 25, 255);
  --transparent: rgba(255, 255, 255, 0);
}
