@import "../ToolkitComponent/breakpoints.module.scss";

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: var(--darkred);
  width: 30vw;
  height: 100vh;

  ol {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 20vw;
    height: 9vh;
    font-size: 3rem;
    background-color: var(--gray200);
    margin-bottom: 4vh;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

    a {
      color: var(--darkred);
      white-space: nowrap;
      margin-left: -1vw;

      &:hover {
        color: var(--mediumdarkgray);
      }

      &:active {
        color: var(--dimgray42);
      }
    }
  }
}

@media screen and (max-width: $laptopL-width) {
  .menu {
    ol {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: $laptop-width) {
  .menu {
    ol {
      font-size: 1.8rem;
      a {
        margin-left: -2vw;
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .menu {
    ol {
      font-size: 1.2rem;
      background-color: unset;
      box-shadow: none;
      margin-bottom: 0;
      a {
        margin-left: -5vw;
        color: var(--darkred);
      }
    }
  }
}

@media screen and (max-width: $mobileL-width) {
  .menu {
    justify-content: center;
    height: 55vh;
    ol {
      font-size: 1rem;
      margin-bottom: -5vh;
      margin-left: 8vw;
      a {
        color: var(--lightgray);
      }
    }
  }
}

@media screen and (max-width: $mobileM-width) {
  .menu {
    ol {
      font-size: 0.8rem;
      width: 20vw;
      margin-left: 8vw;
    }
  }
}

@media screen and (max-width: $mobileS-width) {
  .menu {
    ol {
      font-size: 0.9rem;
      width: 29vw;
      margin-left: 12vw;
    }
  }
}
