@import "../ToolkitComponent/breakpoints.module.scss";

.svg-container {
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
}

.logo {
  width: 5vw;
  height: 16vh;

  &:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(0.5vh);
    transition: transform 0.3s ease; /* Add transition for transform */
  }
}

@media screen and (max-width: $laptop-width) {
  .logo {
    width: 7vw;
    height: 16vh;
  }
}

@media screen and (max-width: $tablet-width) {
  .logo {
    height: 12vh;
  }
}

@media screen and (max-width: $mobileL-width) {
  .svg-container {
    margin-top: 10vh;
  }
  .logo {
    height: 8vh;
  }
}

@media screen and (max-width: $mobileM-width) {
  .logo {
    height: 7vh;
  }
}

@media screen and (max-width: $mobileS-width) {
  .logo {
    width: 8vw;
    height: 6vh;
  }
}
