@import "../ToolkitComponent/breakpoints.module.scss";

/* Header container styles */
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 1.9vw;
}

/* First part h1 style */
.container h1:nth-child(1) {
  color: var(--gray74);
  margin-bottom: 25px;
}

/* Second part h1 style */
.container h1:nth-child(2) {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--yellow50);
  margin-top: -2vh;
}

@media screen and (max-width: $tablet-width) {
  .container {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: $mobileL-width) {
  .container {
    font-size: 3.1vw;
  }
}
