/* Import statements at the beginning of the stylesheet */
@import "../StyleModules/breakpoints.module.scss";

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17vw;
  height: 35vh;
  margin: 10px;
  &:hover {
    cursor: pointer;
    .box-title {
      background-color: var(--mediumdarkgray);
      color: var(--yellow50);
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    }
    .box-contents {
      color: var(--darkred);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17vw;
  height: 10vh;
  background-color: var(--yellow50);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--crimson);
}

.box-contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17vw;
  height: 35vh;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--gray200);
  font-size: 1.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--mediumdarkgray);
}

.country {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 7vh;
}

@media screen and (max-width: $laptopL-width) {
  .box-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $laptop-width) {
  .box {
    width: 19vw;
  }
  .box-title {
    font-size: 1.3rem;
    width: 19vw;
  }
  .box-contents {
    width: 19vw;
    font-size: 1.3rem;
  }
  .country {
    width: 19vw;
  }
}

@media screen and (max-width: $tablet-width) {
  .box {
    width: 21vw;
  }
  .box-title {
    font-size: 1.2rem;
    width: 21vw;
  }
  .box-contents {
    width: 21vw;
    font-size: 1rem;
  }
  .country {
    width: 21vw;
  }
}

@media screen and (max-width: $mobileL-width) {
  .box {
    width: 28vw;
    height: 22.5vh;
  }
  .box-title {
    font-size: 1rem;
    width: 28vw;
  }
  .box-contents {
    width: 28vw;
    height: 18vh;
    font-size: 0.7rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .country {
    width: 28vw;
    height: 4vh;
  }
}

@media screen and (max-width: $mobileS-width) {
  .box {
    width: 35vw;
    height: 16vh;
  }
  .box-title {
    font-size: 0.8rem;
    width: 35vw;
  }
  .box-contents {
    width: 35vw;
    height: 14vh;
    font-size: 0.7rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .country {
    width: 35vw;
    height: 3vh;
  }
}
