/* Import statements at the beginning of the stylesheet */
@import "../StyleModules/breakpoints.module.scss";

.outer-container {
  display: flex;
  width: 100vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
}
.inner-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 75vh;
}

@media screen and (max-width: $laptop-width) {
  .inner-container {
    width: 100vw;
  }
}
